.mod-preguntas-frecuentes{
  .accordion {
    margin-bottom: 22.4px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
   }
  .accordion-group {
    flex-basis: 45%;
    margin-bottom:20px;
  }
}